# Inside /app folder
/app/node_modules/
/app/.env
/app/dist/
/app/build/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# System
.DS_Store
Thumbs.db
.Trashes

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
